
.body {
    height: 100vh;
    width: 100vw;
}
.body_header{
    background-color: green;
    min-height: 45px;
    height: 10%;
    width: 100%;
    display: block;
    position: relative;
}
.h1{
    margin: 0px;
    display: inline-block;
}
#texto {
    margin:0px;
}
.header-nav-list{
    position: absolute;
    right: 0px;
    top: 10px;
    list-style: none;
    background-color: rgb(221, 118, 0);
    padding: 0px;
    margin: 0px ;
    text-align: center;
}
.header-nav-list li{
    display: inline;
}
.header-nav__item a {
    color: navy;
    font-size: 20px;
    font-family: monospace;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}
.main{
    height: 80%;
    width: 100%;
    background-color: seagreen;
    position: relative;
}

/* -----Side Bar-------- */

.body_side-bar{
    background-color: red;
    /* display: inline-block; */
    position: absolute;
    
    height: 100%;
    width: 20%;
    display: flex;
    
    justify-content: space-evenly   ;
    

}
.body-side-section {

width: 100px ;
height: 100px;/*     
    margin: 10px 30px 10px 30px; */
/*     margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px; */
    border-color: navy;
    border-style: dotted;
    background-color: rgb(221, 118, 0);

}



/* -----Center-------- */


.body_center{
    background-color: salmon;
    display: inline-block;
    position: absolute;
    right: 0px;
    height: 100%;
    width: 80%;
}
.body_footer {
    background-color: slategray;
    height: 10%;
    width: 100%;
    display: inline-block;
    position: relative;
}